@model Book
@{
    ViewData["Title"] = "Details page";
}

<h2>Book Details </h2>

<div>
    <hr />
    <div class="fw-bold">@Model.BookName</div> @* Book Name *@
    <hr />

    <p>
        <span class="fw-bold">
            @Html.DisplayNameFor(model => model.BookISBN)@* Book ISBN *@
        </span>: @Model.BookISBN @* Book BookISBN *@
    </p>
    <p>
        <span class="fw-bold">
            @Html.DisplayNameFor(model => model.BookAuthor)
        </span> : @Model.BookAuthor @* Book Author *@
    </p>
    <p>
        <span class="fw-bold">
            @Html.DisplayNameFor(model => model.BookDescription)
        </span> : @Model.BookDescription@* Display Description *@
    </p>
   
    <p>
        <span class="fw-bold">
            @Html.DisplayNameFor(model => model.BookIsInStock)
        </span> : @Model.BookIsInStock@* Display IsInStock *@
    </p> 
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a class="btn btn-primary"  asp-action="Edit" asp-controller="Book" asp-route-id="@Model.BookId" asp-route-Slug="@Model.Slug">Edit</a>
    }
    <a asp-action="List" asp-controller="Book">Back to List</a> 
</div>
